<div class="container" style="background-color: white; border-radius: 10px; padding:20px; width:500px; text-align:center; font-family:Calibri">
    <h2>Item cadastrado com sucesso! <a href="..\Home\Index"> Clique aqui</a> para voltar.</h2>
</div>
