@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<body onload="User()">

    <div class="row" style="padding:40px; width:2000px; padding-left: 200px">

        <div>
            <a href="../Usuario/Registrar">
                <div class="col-lg-4 text-left">
                    <img src="~/images/user-icon.png" width="100" />
                    <h3 style="font:menu">Usuário</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Estacao/Registrar">
                <div class="col-lg-4 text-center">
                    <img src="~/images/plataforma-icon.png" width="100" />
                    <h3 style="font:menu">Estação</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Equipamento/index">
                <div class="col-lg-4 text-center">
                    <img src="~/images/equipamento-icon.png" width="100" />
                    <h3 style="font:menu">Equipamento</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Embarcacao/Registrar">
                <div class="col-lg-4 text-left">
                    <img src="~/images/navio-icon.png" width="100" />
                    <h3 style="font:menu">Embarcação</h3>
                </div>
            </a>
        </div>

    </div>

    <br />
    <br />
    <br />

    <div class="row" style="padding:40px; width:2000px; padding-left: 150px">

        <div style="padding-left: 40px">
            <a href="../Requisicao/Informacao">
                <div class="col-lg-4 text-center">
                    <img src="~/images/requisicao-icon.png" width="100" />
                    <h3 style="font:menu">Informação de atendimento</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Requisicao/Atendimentos">
                <div class="col-lg-4 text-center">
                    <img src="~/images/search-icon.png" width="100" />
                    <h3 style="font:menu">Atendimentos pendentes</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Requisicao/Relatorio">
                <div class="col-lg-4 text-center">
                    <img src="~/images/localizacao-icon.png" width="100" />
                    <h3 style="font:menu">Gráficos</h3>
                </div>
            </a>
        </div>

        <div style="padding-left: 40px">
            <a href="../Requisicao/Index">
                <div class="col-lg-4 text-left">
                    <img src="~/images/dashboard-icon.png" width="100" />
                    <h3 style="font:menu">Dashboard</h3>
                </div>
            </a>
        </div>

    </div>
</body>

<script>

function User() {

    var funcao = '@HttpContextAccessor.HttpContext.Session.GetString("FuncaoUsuario")';

        if (funcao == '0') {
            var menuCadastro = document.getElementById("menuCadastro");
            menuCadastro.style.display = "inline";
        }
    }

</script>
