@model RequisicaoModel
@{
    ViewData["Title"] = "Histórico";
}

<div class="row text-left" style="padding-left: 30px;">
    <div>
        <h2>Histórico</h2>
        <h4>Histórico de requisição</h4>
    </div>
    <div style="padding-left: 30px;">
        <img src="~/images/rel-icon.png" width="63" height="63" />
    </div>
</div>


<br />

<div style="background-color: ghostwhite; border-radius: 10px;  padding:20px;">
    <form asp-controller="ReqHistorico" asp-action="Atendimentos">
             
        <div>
            <label>Requisição:</label>
            <input id="ID" type="number" class="form-control" asp-for="Id" style="width: 180px" required>
            <div class="invalid-feedback">
                O campo requisição é obrigatório.
            </div>
        </div>
        
        <br />

        <label>Período:</label>
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="date" class="form-control" asp-for="Data">
            </div>

            <div class="col-md-6 mb-3">
                <input type="date" class="form-control" asp-for="DataFinal">
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-block btn-success" asp-controller="Relatorio" asp-action="ImprimirHistorico"><strong>Imprimir</strong></button>

    </form>

</div>
