@model UsuarioModel

@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="container" style="background-color: white; border-radius: 10px; padding:20px; width:300px;">

    @{
        try
        {
            if (TempData["ERRO_LOGIN"].ToString() != null)
            {
                <div class="alert-danger text-center">
                    <strong>@TempData["ERRO_LOGIN"]</strong>
                </div>
            }
        }
        catch { }
    }

    <form asp-controller="Usuario" asp-action="ValidarLogin">
        <h6 class="text-center text-muted" style="font-family:Calibri; color:aliceblue">Entre para iniciar uma nova sessão</h6>
        <br />
        <div class="form-group">
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Informe seu email" asp-for="Email" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Insira sua senha" asp-for="Senha" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" style="font-family:Calibri">Entrar</button>    
        <br />
        <p class="text-muted text-center">&copy; 2020-2023</p>
    </form>
</div>


