<div class="alert-success container body-content text-center" style="padding-top: 100px; bottom:auto; border-radius: 10px; text-align: center; padding: 20px; width: 500px; font-family: Calibri ">
    <h3><strong>Cadastrado com sucesso!</strong> </h3>
    <h5><a href="..\Estacao\Registrar">Clique aqui</a> para voltar ou retorne para o <a href="..\Home\Index"> Menu inicial</a></h5>
</div>

